[submodule "vagrant/cookbooks/apache2"]
	path = vagrant/cookbooks/apache2
	url = https://github.com/onehealth-cookbooks/apache2.git
[submodule "vagrant/cookbooks/iptables"]
	path = vagrant/cookbooks/iptables
	url = https://github.com/opscode-cookbooks/iptables.git
[submodule "vagrant/cookbooks/logrotate"]
	path = vagrant/cookbooks/logrotate
	url = https://github.com/stevendanna/logrotate.git
[submodule "vagrant/cookbooks/mysql"]
	path = vagrant/cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "vagrant/cookbooks/yum"]
	path = vagrant/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "vagrant/cookbooks/yum-webtatic"]
	path = vagrant/cookbooks/yum-webtatic
	url = https://github.com/webtatic-cookbooks/yum-webtatic.git
[submodule "vagrant/cookbooks/phpcs"]
	path = vagrant/cookbooks/phpcs
	url = https://github.com/escapestudios-cookbooks/phpcs.git
[submodule "vagrant/cookbooks/build-essential"]
	path = vagrant/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "vagrant/cookbooks/xml"]
	path = vagrant/cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule "vagrant/cookbooks/phalconphp"]
	path = vagrant/cookbooks/phalconphp
	url = https://github.com/takeawayITChef/phalconphp.git
